Source: process-cpp
Priority: optional
Maintainer: Shengjing Zhu <i@zhsj.me>
Build-Depends: cmake,
 debhelper (>= 10),
 doxygen,
 graphviz,
 googletest,
 libboost-dev,
 libboost-iostreams-dev,
 libboost-system-dev,
 libproperties-cpp-dev,
 pkg-config,
Standards-Version: 4.0.0
Section: libs
Homepage: https://launchpad.net/process-cpp
Vcs-Git: https://github.com/zhsj/process-cpp.git
Vcs-Browser: https://github.com/zhsj/process-cpp

Package: libprocess-cpp2
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: C++11 library for handling processes - runtime library
 Process-cpp is a simple convenience library for handling processes in C++11.
 .
 This package includes the process-cpp runtime libraries.

Package: libprocess-cpp-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
 libprocess-cpp2 (= ${binary:Version}),
 libproperties-cpp-dev
Suggests: libprocess-cpp-doc
Description: C++11 library for handling processes - dev headers and libraries
 Process-cpp is a simple convenience library for handling processes in C++11.
 .
 This package includes all the development headers and libraries for
 process-cpp.

Package: libprocess-cpp-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
 libjs-jquery
Suggests: libprocess-cpp-dev,
Description: Documentation files for libprocess-cpp-dev
 Process-cpp is a simple convenience library for handling processes in C++11.
 .
 This package includes documentation files for the libprocess-cpp
 development.
